<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.CSS"/>
  <title>Document</title>
</head>
<body>

  <div class="app">
    <h1>活動</h1>
    <button class="add1" id="Connection">連結</button>
    <button class="add2" id="Activity">活動</button>
    <button class="add3" id="Announcement">課程公告</button>
    <button class="add4" id="Personal">個人</button>
    <button class="add5" id="Message">訊息</button>
    <script type="text/javascript" src="button.js"></script>
</body>
</html>