<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.CSS"/>
  <title>Document</title>
</head>
<body>

  <div class="app">
    <h1>課表公告</h1>
    
    <iframe width="100%" height="315" src= "https://www.youtube.com/embed/JmtycoXq330" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>■公告■</p>
    <p>請注意!一對一課程可請假，但不調課、不補課！若有自行調動時間補課，該堂學費不補助</p>
    <p>配樂近期更新，歡迎下載取用：河邊春夢、採茶歌、雨中旋律(2022/4/11)</p>
    
    
    
    <button class="add1" id="Connection">連結</button>
    <button class="add2" id="Activity">活動</button>
    <button class="add3" id="Announcement">課程公告</button>
    <button class="add4" id="Personal">個人</button>
    <button class="add5" id="Message">訊息</button>
    <script type="text/javascript" src="button.js"></script>
</body>
</html>