<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="index.CSS"/>
  <title>Document</title>
</head>
<body>

  <div class="app">
    <h1>連結</h1>
    <a href = "https://www.facebook.com/groups/4035249"><img class = "ConnectionImg" src="https://lh3.googleusercontent.com/-e20qnhpd_KF52S07FVKlQMlBgH-mvgpxbD_XLus6hLZaj7F_BHLmRCelTqLhu3Iw0U_tWnQDCYy0Yfi7AvVUCQPE5jJ0bnwRjnNX3miGES6-U3ptZK_WxaDW4jfTprSswzSEHoT9ASU4lksZ_94EciBL9UPF4a-Tkf88v-8R2aj6t8oHrcHZAL-82BtVDj30xLIjukn5o20gjoZf4gi_hf4Ym7kKA2wyAviMgcQEqeAuA6IoYVCtQvTgzBKAhqfpyBNpyNvPAVTbyGIIeJOc4ELse14ZeQakK2Z7R4cwM4mNCwA6fel7n2rh7ipjVgA-vYlVKHJ7OlJL1QWL2eqPoXYX6HE5t50W5HUwUHQONNqtB5v2IdZqWRz8rc9i33pJSU3pP7gof7Ecgd3WeE5r7V3xG-LVRZDX05xoOL0BsJcwv37hOToovMdYNT1aPJTZJbKIF6OPn9lXuKuu_BAbuX9ONElDThxVk6xriOtKXH8a2JM_iYEBuXaCvTVIpeI9G2x5NXhgETM8mmT2rJDsEQDZ1zO77EEKeq7veVYN2qlEucTEwrx1kQO4iDZ4IDpU7Pq_JdfV4T_ty9NGe5egEvysBQ-hBPKUoWBd8QqO_JU2cdXzg8rS1_AI4g6Z-4ZlWaP7L9XBIWyG_BIbDI7_7tyowsLnPZiFd85ZI6jkpof1-epovOWqjbHxK0GZ6GnBDBmfqH2LuDeTMq8WN83qUjapvGi_YnfwYnsUiLyPTptqoh21g=s96-no"></a>
    <a href = "https://www.facebook.com/groups/4035249"><p class = "ConnectionText">臉書每日直播社團</p></a>
    
    <img class = "ConnectionImg" src="https://lh3.googleusercontent.com/-e20qnhpd_KF52S07FVKlQMlBgH-mvgpxbD_XLus6hLZaj7F_BHLmRCelTqLhu3Iw0U_tWnQDCYy0Yfi7AvVUCQPE5jJ0bnwRjnNX3miGES6-U3ptZK_WxaDW4jfTprSswzSEHoT9ASU4lksZ_94EciBL9UPF4a-Tkf88v-8R2aj6t8oHrcHZAL-82BtVDj30xLIjukn5o20gjoZf4gi_hf4Ym7kKA2wyAviMgcQEqeAuA6IoYVCtQvTgzBKAhqfpyBNpyNvPAVTbyGIIeJOc4ELse14ZeQakK2Z7R4cwM4mNCwA6fel7n2rh7ipjVgA-vYlVKHJ7OlJL1QWL2eqPoXYX6HE5t50W5HUwUHQONNqtB5v2IdZqWRz8rc9i33pJSU3pP7gof7Ecgd3WeE5r7V3xG-LVRZDX05xoOL0BsJcwv37hOToovMdYNT1aPJTZJbKIF6OPn9lXuKuu_BAbuX9ONElDThxVk6xriOtKXH8a2JM_iYEBuXaCvTVIpeI9G2x5NXhgETM8mmT2rJDsEQDZ1zO77EEKeq7veVYN2qlEucTEwrx1kQO4iDZ4IDpU7Pq_JdfV4T_ty9NGe5egEvysBQ-hBPKUoWBd8QqO_JU2cdXzg8rS1_AI4g6Z-4ZlWaP7L9XBIWyG_BIbDI7_7tyowsLnPZiFd85ZI6jkpof1-epovOWqjbHxK0GZ6GnBDBmfqH2LuDeTMq8WN83qUjapvGi_YnfwYnsUiLyPTptqoh21g=s96-no">
    <a href = "https://www.facebook.com/groups/148659081913367/"><p class = "ConnectionText">臉書社團</p></a>

    <img class = "ConnectionImg" src="https://lh3.googleusercontent.com/-e20qnhpd_KF52S07FVKlQMlBgH-mvgpxbD_XLus6hLZaj7F_BHLmRCelTqLhu3Iw0U_tWnQDCYy0Yfi7AvVUCQPE5jJ0bnwRjnNX3miGES6-U3ptZK_WxaDW4jfTprSswzSEHoT9ASU4lksZ_94EciBL9UPF4a-Tkf88v-8R2aj6t8oHrcHZAL-82BtVDj30xLIjukn5o20gjoZf4gi_hf4Ym7kKA2wyAviMgcQEqeAuA6IoYVCtQvTgzBKAhqfpyBNpyNvPAVTbyGIIeJOc4ELse14ZeQakK2Z7R4cwM4mNCwA6fel7n2rh7ipjVgA-vYlVKHJ7OlJL1QWL2eqPoXYX6HE5t50W5HUwUHQONNqtB5v2IdZqWRz8rc9i33pJSU3pP7gof7Ecgd3WeE5r7V3xG-LVRZDX05xoOL0BsJcwv37hOToovMdYNT1aPJTZJbKIF6OPn9lXuKuu_BAbuX9ONElDThxVk6xriOtKXH8a2JM_iYEBuXaCvTVIpeI9G2x5NXhgETM8mmT2rJDsEQDZ1zO77EEKeq7veVYN2qlEucTEwrx1kQO4iDZ4IDpU7Pq_JdfV4T_ty9NGe5egEvysBQ-hBPKUoWBd8QqO_JU2cdXzg8rS1_AI4g6Z-4ZlWaP7L9XBIWyG_BIbDI7_7tyowsLnPZiFd85ZI6jkpof1-epovOWqjbHxK0GZ6GnBDBmfqH2LuDeTMq8WN83qUjapvGi_YnfwYnsUiLyPTptqoh21g=s96-no">
    <a href = "https://www.facebook.com/YunLinAngelOrchestra/"><p class = "ConnectionText">臉書粉絲頁</p></a>
    
    <img class = "ConnectionImg" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/146/tear-off-calendar_1f4c6.png">
    <a href = "https://calendar.google.com/calendar?cid=OGNxcWlubnZmN3VtZGpwajJodmRmcHFrZWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"><p class = "ConnectionText">GOOGLE日曆訂閱</p></a>
    
    <img class = "ConnectionImg" src="https://lh3.googleusercontent.com/q0UADdu-TajWPqmHg9jivgxkiMRUGzWYUWXuAWoHgELrHBEZnG3NAa3K5mrDWuvDfjp6Vp47fl-2atEP5t0BS0HBbeotYjt3gFePxEc8MaYMbnOY6rZ2fwHiiy14Ym9TorUaq3x_55tEPyvYymBHMCK2YHAJOaOSwBrkJiPjrcK-fKQRkpUkopj6GRuEkLo54uxDYMD4M-X-ZTKstgP-5wQOSj9jSnzIQlREQ87Jglk-np0YhWmYuCjuRjf_uu-jc3OpZBo07bm3wNGmiAcelGwfXSceFov396DvtyJVVyeiCMmX1Vy45eSY43RCR5jweaNkCO_gzAd0p_XSV_QOnrXQlQKOoGyhEnP9H7gyrjPsrUTIZEbjbr4sYKZ1hEzEgA0aYGBdD487ug_Xjft2PahAMnfjXNaNhEraPhvyK30Bmq8R_iyiNXa0y7fnPB_iOrozm9Ws51_NGEN64UaPheWn7ln2m1p1rd-QHqiVptV4km5DeSz0XE5KHueNm3cNuY4ekqZ4xvI0qWs1Hp6pSxSEUyXX84WQ5z0w2BN69mqZNAi5x5ARYpnbGe7lPKq6s-ieZdz97u-4bILVAch0CruUZtVn2lDW7zfayycgWFU3NCQ7HwtGSSt9jSBDq5JWkxuiZXhJmoeQyZ-mtPFsMvgNpIuiGP9cKcTn0fC2gua1R8WOX-UfcPUIPtJMaF5qEjPs6q08ulgIj22N_bS_MgRb4LK_jDr8RjLHO51b9D9bNOeZ8A=s100-no">
    <a href = "https://www.google.com/url?q=https://brokenwingsband.wordpress.com/&sa=D&source=hangouts&ust=1561692943533000&usg=AFQjCNFvYKjxog7DWeoCzDost0UAHXIQNg"><p class = "ConnectionText">折翼官網</p></a>
    
    <img class = "ConnectionImg" src="https://lh3.googleusercontent.com/ptVS7qWR_7Cj5mFtHfa4Qb5ihTMJ-8_x-uf6VCWiva_2fJ8IPTWNIQNhO_jglMn88CyJZTswruGuzIEBqxtp8APUPzBeirua5-NE_vk-zYRCWEWL7QjPrnfkovt1A1lkg0sRb8DTJ_Oc9Jrf3tSS7AwWe7sMmE0-xM0GDna4jJ3C7xeIcsRCr1ktqfxIeK4cPAZkTLCjSgU3gdgtPDeXG9KFVgJYvlGbVG6QpMMiEFxKub-878GnYIA5zv1dfjIiCiDhDXfRhF0m-IRp4duhDgVGcYSsAUogJsxzkpFlDBUJ9RgQPZ4NNQw0kxgDsBZ1HiurvHY72EYjMyZbLXQz-eyOjQM33IzZvqsxwBjRV3UsduYVl4TsnPW5uWHL6eGuw62UQWa8tjP-64kJvRuAIXhhmI-G7KUljdkmzArkhM4-l0m9I5dE0Sp3IzxfiTNsfv92AwXLhnjc6cxO7IABCsqxekJXcZ9ftYHAYiSiHxD2qzzT_FgK4i7edIdwR1KywqkAOFCLfnNwPfkVARlP5KQKMgDba63Ul3rUuLY3LbRIInw0N7nJV17qG2pJLFo_9sf65pivRgGBQysZPSfOIuzI5U3P4CA6_lqXwCn0gt-KeNq5v2nb6HGH7iBpAeU3CEg15imPsNxwKiWmzHwJe_ETEBKSqSnOoMowtMBHQ1tB3zgfoz5V723FXmbtSyOzxDEJkJPGOV5HSf6a7i209fim7bdd9SJSAK2njgziNoSqDOAGjGKaFMc=s90-no">
    <a href = "https://docs.google.com/document/d/e/2PACX-1vSaf9WKeBtvPOw0qOQG_QfI6biXaePb8ud6fNgfp0h-Wpqktrx6QUFXjqHg2pQmOC1j7o_-ZlkgHwy1/pub"><p class = "ConnectionText">折翼團規</p></a>

    <img class = "ConnectionImg" src="https://lh3.googleusercontent.com/HZZOxo6QnA8etTfZSpYr1tOK1O6mSzEQrAePyZf43I36_tn3lxBHvNaYGoxzx5OcSdw6HEfE2AhNZNGJXQDWv2JCm1HPtoVgj2nFTmQmTZVDN3cG_UJj_HxJBBbe3xqiF8AD6z5loISijG1PHflS_ee5Eae5F5_ZIBZiSbad-HczMpWW4HY7pN_P9Aw9amlWJq5naUZ5tQCQBAlsCA9RRjAm8nolh-7j0ostUqD239BC84BhncNkKN7WqWs-vXk_lQQAx7wOdMCtwYAWeG7XbJDF1OGv8vnu6otARXK5xifknoZK07mBZWPrJBq_fRRcAxf0aid2z5nifYceJUF3Z4z2d4oyN13nopX7gUSWEWznb5BOi56pFsE47EnKhgu1sIXrnykF2mi1EXm9VyXzszdF3zIV0qvc2BnOR-HdOv-WxSCKoFxSjZLsuo-kqY-l40SQ5KqfI9sf475ejeXQ7Yh8y1JYLuGAslLLAbL8KT3Rr74wPYPRTFjYfYQOUHH46aBD4OqukcyFQZJQe0c6iU_6rfLT6vJa6y6Ubr5vwz-U01-VIBpYkxMbwFIHqWfJq1X_EnaFs-NtP-uQpEJQMwJe67jK3Dk3Lnb1GGu7Hrmvw8Mx0Yu0PGx1WCXFLMMuMPFWwaLMTtD0tRaPDI1xqOg9rYeGmrL-w_ISuhi6WBW_6M9ER1p87GA-6idMB7PLTZ8QiQ0xken4id80PLY9kcIS2aJelE_rDb50LLQGA2tQhVV7Bg=s480-no">
    <a href = "https://docs.google.com/spreadsheets/d/1AVyXEWxa3sik78X1pr7r6IsdESbydVPwAyqWl21g1I0/edit?usp=sharing"><p class = "ConnectionText">樂器配置編輯</p></a>

    <img class = "ConnectionImg" src="https://lh3.googleusercontent.com/HZZOxo6QnA8etTfZSpYr1tOK1O6mSzEQrAePyZf43I36_tn3lxBHvNaYGoxzx5OcSdw6HEfE2AhNZNGJXQDWv2JCm1HPtoVgj2nFTmQmTZVDN3cG_UJj_HxJBBbe3xqiF8AD6z5loISijG1PHflS_ee5Eae5F5_ZIBZiSbad-HczMpWW4HY7pN_P9Aw9amlWJq5naUZ5tQCQBAlsCA9RRjAm8nolh-7j0ostUqD239BC84BhncNkKN7WqWs-vXk_lQQAx7wOdMCtwYAWeG7XbJDF1OGv8vnu6otARXK5xifknoZK07mBZWPrJBq_fRRcAxf0aid2z5nifYceJUF3Z4z2d4oyN13nopX7gUSWEWznb5BOi56pFsE47EnKhgu1sIXrnykF2mi1EXm9VyXzszdF3zIV0qvc2BnOR-HdOv-WxSCKoFxSjZLsuo-kqY-l40SQ5KqfI9sf475ejeXQ7Yh8y1JYLuGAslLLAbL8KT3Rr74wPYPRTFjYfYQOUHH46aBD4OqukcyFQZJQe0c6iU_6rfLT6vJa6y6Ubr5vwz-U01-VIBpYkxMbwFIHqWfJq1X_EnaFs-NtP-uQpEJQMwJe67jK3Dk3Lnb1GGu7Hrmvw8Mx0Yu0PGx1WCXFLMMuMPFWwaLMTtD0tRaPDI1xqOg9rYeGmrL-w_ISuhi6WBW_6M9ER1p87GA-6idMB7PLTZ8QiQ0xken4id80PLY9kcIS2aJelE_rDb50LLQGA2tQhVV7Bg=s480-no">
    <a href = "https://docs.google.com/spreadsheets/d/15lKh1Vj72mj6_JTrmnnDI-8Sp_Ng4Q3LaHYgiKDj6vk/edit?usp=sharing"><p class = "ConnectionText">團課表編輯</p></a>

    <button class="add1" id="Connection">連結</button>
    <button class="add2" id="Activity">活動</button>
    <button class="add3" id="Announcement">課程公告</button>
    <button class="add4" id="Personal">個人</button>
    <button class="add5" id="Message">訊息</button>
    <script type="text/javascript" src="button.js"></script>
</body>
</html>